.Rhistory
quarto_template.html
quarto_template_files/figure-html/make_plot-1.png
quarto_template_files/libs/bootstrap/bootstrap-bb462d781dde1847d9e3ccf7736099dd.min.css
quarto_template_files/libs/bootstrap/bootstrap-icons.css
quarto_template_files/libs/bootstrap/bootstrap-icons.woff
quarto_template_files/libs/bootstrap/bootstrap.min.js
quarto_template_files/libs/clipboard/clipboard.min.js
quarto_template_files/libs/quarto-html/anchor.min.js
quarto_template_files/libs/quarto-html/popper.min.js
quarto_template_files/libs/quarto-html/quarto-syntax-highlighting-37eea08aefeeee20ff55810ff984fec1.css
quarto_template_files/libs/quarto-html/quarto.js
quarto_template_files/libs/quarto-html/tippy.css
quarto_template_files/libs/quarto-html/tippy.umd.min.js
quarto_template_files/libs/quarto-html/tabsets/tabsets.js
